.sidebar {
    background-color: $color-grey-dark-1;
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legal {
    font-size: .75rem;
    color: $color-grey-light-4;
    text-align: center;
    padding: 1.56rem;

    @include respond(large) {
        display: none;
    }
}